.sidebar-logo{
	background: #6ca9b76b;
}

.navbar ,.navbar-expand ,.navbar-light ,.bg-light{
	height: 65px;
}

.card{
	width: 99%;
}

.col-md-9 ,.ms-sm-auto ,.col-lg-10 ,.px-md-4{
	padding-right: 7px !important;
	padding-left: 7px !important;
	width: 100%;
}

.dropdown-menu[data-bs-popper] {
    left: -112px;
}

.dropdown,.text-end{
	margin-right: 2px;
	margin-left: 10px;
}

.sidebar {
    width: 240px;
    background-color: #fff;
}

.sidebar-menu > li > a{
	padding: 2px 0px;
}
.sidebar-menu > li.dropdown ul.dropdown-menu > li > a{
	padding: 2px 0px;
}

.container-wide {
    padding-left: 240px;
}

.navbar,.navbar-expand,.navbar-light ,.bg-light{
	padding-left: 15px;
}
.dashboard-area{
	padding: 0px 15px;
}

.card{
    margin-bottom: 100px;
}


/*for multiple image upload start*/
.btn-upload {
    padding: 10px 20px;
    margin-left: 10px;
}
.upload-input-group {
    margin-bottom: 10px;
}

/*.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
  height: 45px;
}*/

/*for multiple image upload end*/

.btn-upload {
    padding: 10px 20px;
    margin-left: 10px;
}
.upload-input-group {
    margin-bottom: 10px;
}

/*.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
  height: 45px;
}*/

.multiple-upload-line-height{
	line-height: 31px;
}

/*for radio button*/
.form-check ,.form-check-inline{
	font-size: 16px;
}


input[type=radio]:checked ~ label{
  color: #0d6efd !important;
}

/*submit button*/
.submit-button{
	border: 1px solid #ada1a187;
    background: #eaeaea;
}

/*for footer*/
.footer-area{
    padding: 12px 0px;
    text-align: right;
    background-color: #044CA3;
    color: #fff;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    margin-bottom: 0px;
}
.text-muted{
    color: #fff !important;
}


/*for form validation message*/
.error{
	width: inherit;
    color: #840202;
    padding: 3px 3px;
}


/*for dashboard-area min height*/
#carbon-block{
	min-height: 500px;
}


/*datatable css customize*/
.table,.dataTable{
    border-collapse: collapse !important;
}
.table,.dataTable,.no-footer{
    border-bottom: 0px solid #fff !important;
}

tbody, td, tfoot, th, thead, tr{
    border-width: 2px;
}
.dataTables_filter{
    height: 40px;
}

/*module header button*/
.module_button_header:hover {
    color: #ffffff !important;
    margin-right: 5px !important;
}

.module_button_header {
    margin-right: 5px !important;
}

.seneralsettingsection {
    border: 1px solid;
    background: #999;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 7px;
}


/*when hover to text show image*/

/*.inner {*/
/*    cursor: pointer;*/
/*    !*height: 100px;*!*/
/*    !*width: 100px;*!*/
/*    !*margin: 100px;*!*/
/*    !*background: red;*!*/
/*}*/
/*.hover_image {*/
/*    height: auto;*/
/*    width: 80px;*/
/*    height: 50px;*/
/*    margin: 0 auto;*/

/*}*/

.hover_image {
    height: auto;
    width: 160px;
    height: 130px;
    margin: 0 auto;

}
/*.inner:hover .hover_image {*/
/*    display: block;*/
/*}*/
.tooltipme {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltipme .tooltipmetext {
    visibility: hidden;
    width: 120px;
    /*background-color: black;*/
    /*color: #fff;*/
    /*text-align: center;*/
    /*border-radius: 6px;*/
    /*padding: 5px 0;*/

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 22px;
}

.tooltipme:hover .tooltipmetext {
    visibility: visible;
}


/*for pagination*/

.pager{
    padding: 0px;
}

.pager li{
    display: inline;
}
.pagination_custom_style{
    border: 1px solid;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    background: #e8e5e5;
}

/*XY OVERFLOW OFF*/
.table-xy-overflow{
    overflow-x: unset;
}
/*editor css*/
#cke_editor{
    width: 100% !important;
}
/*//these are the media queries used by bootstrap*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.container-wide {
	    padding-left: 0px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .footer-area{
        padding: 12px 0px;
        text-align: right;
        background-color: #556f75;
        color: #fff;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 50px;
        margin-bottom: 0px;
        position: inherit;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.container-wide {
	    padding-left: 0px;
	}

    .footer-area{
        padding: 12px 0px;
        text-align: right;
        background-color: #556f75;
        color: #fff;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 50px;
        margin-bottom: 0px;
        position: inherit;
    }

    #table_id_filter{
        margin-bottom: 20px !important;
    }
}
