.btn-cart-add:hover, .btn-cart-add:active {

    color: #fe7c00;

}



.deals-wrapper ,.widget-body ,.owl-theme{
    height: 100 !important;
}
.checkify__message checkify__message-left{
    top: 70px !important;
}

/*for pagination*/

.pager{
    padding: 0px;
}

.pager li{
    display: inline;
}
.pagination_custom_style{
    border: 1px solid;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    background: #e8e5e5;
}

.pagination a{
    color: #0a53be;
}


