<div class="product-wrap">
    <div class="product text-center">
        <figure class="product-media">
            <a href="product-default.html">
                <img src="assets/images/shop/1.jpg" alt="Product" width="300" height="338" />
            </a>
            <div class="product-action-horizontal">
                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="#">Electronics</a>
            </div>
            <h3 class="product-name">
                <a href="product-default.html">3D Television</a>
            </h3>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width: 100%;"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="product-default.html" class="rating-reviews">(3 reviews)</a>
            </div>
            <div class="product-pa-wrapper">
                <div class="product-price">
                    $220.00 - $230.00
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product text-center">
        <figure class="product-media">
            <a href="product-default.html">
                <img src="assets/images/shop/2-1.jpg" alt="Product" width="300" height="338" />
                <img src="assets/images/shop/2-2.jpg" alt="Product" width="300" height="338" />
            </a>
            <div class="product-countdown-container">
                <div class="product-countdown countdown-compact" data-until="2021, 9, 9" data-format="DHMS"
                    data-compact="false" data-labels-short="Days, Hours, Mins, Secs">
                    00:00:00:00</div>
            </div>
            <div class="product-action-horizontal">
                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="#">Electronics</a>
            </div>
            <h3 class="product-name">
                <a href="product-default.html">Alarm Clock With Lamp</a>
            </h3>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width: 100%;"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="product-default.html" class="rating-reviews">(10 reviews)</a>
            </div>
            <div class="product-pa-wrapper">
                <div class="product-price">
                    <span class="new-price">$30.00</span>
                    <del class="old-price">$60.00</del>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product text-center">
        <figure class="product-media">
            <a href="product-default.html">
                <img src="assets/images/shop/3.jpg" alt="Product" width="300" height="338" />
            </a>
            <div class="product-action-horizontal">
                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="#">Electronics</a>
            </div>
            <h3 class="product-name">
                <a href="product-default.html">Apple Laptop</a>
            </h3>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width: 80%;"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="product-default.html" class="rating-reviews">(5 reviews)</a>
            </div>
            <div class="product-pa-wrapper">
                <div class="product-price">
                    $1,000.00
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product text-center">
        <figure class="product-media">
            <a href="product-default.html">
                <img src="assets/images/shop/4.jpg" alt="Product" width="300" height="338" />
            </a>
            <div class="product-action-horizontal">
                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="#">Electronics</a>
            </div>
            <h3 class="product-name">
                <a href="product-default.html">Attachable Charge Alarm</a>
            </h3>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width: 60%;"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="product-default.html" class="rating-reviews">(7 reviews)</a>
            </div>
            <div class="product-pa-wrapper">
                <div class="product-price">
                    $15.00
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product text-center">
        <figure class="product-media">
            <a href="product-default.html">
                <img src="assets/images/shop/5.jpg" alt="Product" width="300" height="338" />
            </a>
            <div class="product-action-horizontal">
                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="#">Fashion</a>
            </div>
            <h3 class="product-name">
                <a href="product-default.html">Best Travel Bag</a>
            </h3>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width: 80%;"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="product-default.html" class="rating-reviews">(4 reviews)</a>
            </div>
            <div class="product-pa-wrapper">
                <div class="product-price">
                    $83.00
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product text-center">
        <figure class="product-media">
            <a href="product-default.html">
                <img src="assets/images/shop/6.jpg" alt="Product" width="300" height="338" />
            </a>
            <div class="product-action-horizontal">
                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="#">Sports</a>
            </div>
            <h3 class="product-name">
                <a href="product-default.html">Black Stunt Motor</a>
            </h3>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width: 100%;"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="product-default.html" class="rating-reviews">(12 reviews)</a>
            </div>
            <div class="product-pa-wrapper">
                <div class="product-price">
                    $374.00
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product text-center">
        <figure class="product-media">
            <a href="product-default.html">
                <img src="assets/images/shop/7-1.jpg" alt="Product" width="300" height="338" />
                <img src="assets/images/shop/7-2.jpg" alt="Product" width="300" height="338" />
            </a>
            <div class="product-action-horizontal">
                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="#">Fashion</a>
            </div>
            <h3 class="product-name">
                <a href="product-default.html">Blue Sky Trunk</a>
            </h3>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width: 100%;"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="product-default.html" class="rating-reviews">(9 reviews)</a>
            </div>
            <div class="product-pa-wrapper">
                <div class="product-price">
                    $85.00
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product text-center">
        <figure class="product-media">
            <a href="product-default.html">
                <img src="assets/images/shop/8.jpg" alt="Product" width="300" height="338" />
            </a>
            <div class="product-action-horizontal">
                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="#">Beauty</a>
            </div>
            <h3 class="product-name">
                <a href="product-default.html">Bodycare Smooth Powder</a>
            </h3>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width: 60%;"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="product-default.html" class="rating-reviews">(4 reviews)</a>
            </div>
            <div class="product-pa-wrapper">
                <div class="product-price">
                    $25.00
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product text-center">
        <figure class="product-media">
            <a href="product-default.html">
                <img src="assets/images/shop/9.jpg" alt="Product" width="300" height="338" />
            </a>
            <div class="product-action-horizontal">
                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="#">Electronics</a>
            </div>
            <h3 class="product-name">
                <a href="product-default.html">Bright Green IPhone</a>
            </h3>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width: 80%;"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="product-default.html" class="rating-reviews">(4 reviews)</a>
            </div>
            <div class="product-pa-wrapper">
                <div class="product-price">
                    $950.00
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product text-center">
        <figure class="product-media">
            <a href="product-default.html">
                <img src="assets/images/shop/10.jpg" alt="Product" width="300" height="338" />
            </a>
            <div class="product-action-horizontal">
                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="#">Fashion</a>
            </div>
            <h3 class="product-name">
                <a href="product-default.html">Cavin Fashion Suede Handbag</a>
            </h3>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width: 80%;"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="product-default.html" class="rating-reviews">(4 reviews)</a>
            </div>
            <div class="product-pa-wrapper">
                <div class="product-price">
                    $163.00
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product text-center">
        <figure class="product-media">
            <a href="product-default.html">
                <img src="assets/images/shop/11-1.jpg" alt="Product" width="300" height="338" />
                <img src="assets/images/shop/11-2.jpg" alt="Product" width="300" height="338" />
            </a>
            <div class="product-action-horizontal">
                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="#">Electronics</a>
            </div>
            <h3 class="product-name">
                <a href="product-default.html">Charming Design Watch</a>
            </h3>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width: 100%;"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="product-default.html" class="rating-reviews">(10 reviews)</a>
            </div>
            <div class="product-pa-wrapper">
                <div class="product-price">
                    $30.00
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product text-center">
        <figure class="product-media">
            <a href="product-default.html">
                <img src="assets/images/shop/12.jpg" alt="Product" width="300" height="338" />
            </a>
            <div class="product-action-horizontal">
                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="#">Fashion</a>
            </div>
            <h3 class="product-name">
                <a href="product-default.html">Classic Simple Backpack</a>
            </h3>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width: 100%;"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="product-default.html" class="rating-reviews">(9 reviews)</a>
            </div>
            <div class="product-pa-wrapper">
                <div class="product-price">
                    $85.00
                </div>
            </div>
        </div>
    </div>
</div>
